@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  max-width: 1440px;
}

.App {
  margin-left: auto;
}

/*Nav bar*/

.navBar {
  list-style-type: none;
  display: flex;
  justify-content: right;
  margin: 48px 155px 65px 720px;
  font-family: 'Poppins';
  line-height: 200%;
  font-weight: 400;
  font-size: 16px;
}

.navBar li {
  margin-left: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Button*/

.btn {
  background-color: #e6a859;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

/*Main*/

/*construction*/

.construct {
  display: flex;
  margin-left: 160px;
}

/*patterns*/

.circle {
  position: absolute;
  left: -50px;
}

.patt1 {
  position: absolute;
  top: 700px;
  left: 20px;
}

/*cleft*/

.orange {
  color: #e2b84c;
}

h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  max-width: 642px;
  color: #534847;
}

p {
  color: #8d8180;
}

.cleft p {
  height: 115px;
  width: 462px;
  margin: 35px 0 20px;
}

.line {
  position: relative;
  border-top: 1px solid #e2b84c;
  width: 20px;
  top: 12px;
}

.lineright {
  margin-left: 30px;
}

/*cright*/

.cright {
  height: 773px;
  width: 612px;
  background-image: url(./images/image1.jpg);
  border-radius: 20px 0px 0px;
  display: flex;
  justify-content: flex-end;
}

.cright a {
  background-color: #ffffff;
  font-weight: 600;
  padding: 30px 95px;
  align-self: flex-end;
}

.arrow {
  margin-left: 10px;
  position: relative;
  top: 2px;
}

/*since*/

.since {
  margin: 200px 100px 320px 170px;
  display: flex;
  justify-content: space-between;
}

/*sleft*/

h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  height: 94px;
  width: 340px;
  margin-bottom: 20px;
  color: #534847;
}

/*sright*/
.sright {
  margin-top: 50px;
}

.sright p {
  width: 610px;
  height: 95px;
}

.sright a {
  position: relative;
  top: 65px;
  left: 470px;
}
/*pattern*/

.patt2 {
  position: relative;
  top: 300px;
  left: -500px;
}

/*aesthetic*/

.aesthetic {
  margin-bottom: 260px;
}
/*atop*/

.atop {
  display: flex;
  justify-content: space-between;
}

.aright {
  margin-left: 120px;
  margin-right: 40px;
}

.aesthetic p {
  margin: 40px 0px 75px;
}

/*abot*/
.abot {
  display: flex;
  justify-content: space-between;
}

.aleft {
  margin-left: 120px;
  margin-right: 40px;
}

.aleft h2 {
  margin-top: 75px;
}

/*services*/

.services {
  margin: 0px 240px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

h3 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #534847;
}

.service {
  width: 213px;
  text-align: center;
  margin: 100px 0 145px 0;
}

.service h4 {
  margin: 65px 0 15px 0;
  font-family: 'Raleway';
  color: #534847;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

/*Projects*/

.projects {
  margin: 65px 200px 220px;
  display: flex;
  justify-content: space-between;
}

.project {
  height: 334px;
  width: 284px;
}

.project a {
  background-color: #ffffff;
  font-weight: 600;
  padding: 10px 30px 10px 10px;
  position: relative;
  bottom: 40px;
  color: #534847;
}

.project p {
  all: unset;
}

/*Gallery*/

.gallery {
  margin: 0 150px 150px;
}

.gallery h3 {
  text-align: unset;
}

.gtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 230px 60px 0;
}

.gtop p {
  height: 75px;
  width: 290px;
}

.gridImages {
  display: grid;
  grid-template-columns: 190px 340px 340px auto;
  gap: 0px;
}

.gridImages img {
  height: 250px;
  width: 100%;
}

/*footer*/

.footer {
  background-color: #282322;
  padding: 50px 50px 50px 120px;
}

.ftop {
  display: flex;
  justify-content: space-between;
}

.ftop h4 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.ftop p {
  margin-top: 40px;
  color: #ffffff;
}

.ftop div {
  width: 25%;
}

.fleft > .line {
  width: 25px;
  position: relative;
  right: 35px;
  top: 52px;
}

.fmid {
  margin: 0 50px;
}

.fmid input {
  padding: 10px 56px;
  margin: 17px 0;
}

.fright ul {
  list-style: none;
  margin-top: 35px;
}

.fright li {
  color: #ffffff;
  margin-top: 15px;
}

.social {
  position: relative;
  top: 6px;
  right: 5px;
  margin-right: 25px;
}

.fbot {
  margin-top: 100px;
  text-align: center;
  color: #ffffff;
}

.fbot .navBar {
  margin: 25px 0 0 0;
  justify-content: center;
  color: #ffffff99;
}
